---
import Container from "@components/container.astro";  
import Cta from "@components/cta.astro";
import FeaturesMasterpieces from "@components/FeaturesMasterpieces.astro";
import HeroMasterpiece from "@components/heroMasterpiece.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Masterpieces AI app">
  <Container>
    <HeroMasterpiece />
    <FeaturesMasterpieces />  
    <h2 class="text-4xl lg:text-5xl font-bold  mt-16">
      You can too create any apps with this starter
    </h2> 
    <Cta />
  </Container>
</Layout>
