---
import Container from "@components/container.astro"; 
import Faq from "@components/faq.astro"; 
import Layout from "@layouts/Layout.astro";
import Sectionhead from "@components/sectionhead.astro"; 
---

<Layout title="FAQ">  
    <Sectionhead>
      <Fragment slot="title">Frequently asked questions</Fragment>
      <Fragment slot="desc">Frequently asked questions</Fragment> 
    </Sectionhead>
    <main class="mt-16">
      <Faq /> 
    </main> 
</Layout>
