---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Footer from "@components/footer.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";
import Testimonials from "@components/testimonials.astro";

import { Image } from "@astrojs/image/components";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
import Newsletter from "@components/newsletter.astro";
import SimpleNoTricksPricing from "@components/simpleNoTricksPricing.astro";
import Testimonials2 from "@components/testimonials2.astro";
import Video from "@components/video.astro";
import BasicButton from "@components/basic-button.astro";
import Pricing from "@components/pricing.astro";
import Faq from "@components/faq.astro";

const pricing = [
  {
    name: "",
    idealFor: "Limited yet useful free version",
    oldPrice: "69 EUR",
    price: "FREE",
    popular: false,
    features: [ 
      "Navigation",
      "DI",  
      "Cache",
      "Resources"
    ],
    button: {
      text: "Get Free Version",
      link: "https://appkickstarter.lemonsqueezy.com/checkout/buy/ae28a01d-04c0-4b0b-9c25-0782a8362fa6",
    },
  },
  {
    name: "",
    idealFor: "Save weeks of development time",
    oldPrice: "300 EUR",
    price: "150 EUR", 
    popular: true,   
    features: [ 
      "Lifetime updates",
      "Unlimited usage of code & unlimited projects",
      "Navigation", 
      "Cache and offline file system",
      "Resources",  
      "Onboarding",
      "Firebase, Google and Apple Sign In",  
      "Theme management", 
      "Monetization",  
      "Analytics",
      "Maps and locations",  
      "In-App Changelog", 
      "CI/CD", 
      "Slack community", 
      "And more (see docs)"
    ],
    button: {
      text: "Get Lifetime access",
      link: "https://appkickstarter.lemonsqueezy.com/checkout/buy/699eed0e-fc4a-4784-b3e9-b30e9a979dd7?checkout[discount_code]=LAUNCH",
    }
  }
];

---


<Layout 
  title="AppKickstarter Mobile app Template" 
  description="AppKickstarter is a template to make android and ios apps at lightning speed with Kotlin and Compose multiplatform"
  image="/images/affiche_seo.png"
>

  <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="41a5dccd-5c87-4328-a701-90d16369c2d3" data-blockingmode="auto" type="text/javascript"></script>
 
  <!-- Google tag (gtag.js) -->  
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-2TZHE8390D"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-2TZHE8390D');
  </script> 


  <script src='https://cdn.paritydeals.com/banner.js'></script>


  <Container> 

    <style> 
        @keyframes backgroundColorChange {
          0% { background-color: #000000; } 
          25% { background-color: #422535; } 
          50% { background-color: #673954; }  
          75% { background-color: #301c2b; } 
          100% { background-color: #020102; }  
        }
  
        .animate-bg-color {
          animation: backgroundColorChange 3s infinite;  
        } 
    </style>

<!--
    <div class="sticky top-2 flex items-center justify-center my-4 " style="z-index: 10;"> 
      <div class="bg-slate-200 text-slate-50 font-bold px-4 py-2 rounded-full text-center animate-bg-color">
        <a href="https://appkickstarter.lemonsqueezy.com/checkout/buy/699eed0e-fc4a-4784-b3e9-b30e9a979dd7?checkout[discount_code]=LAUNCH">
         150€ off for the first 100 (17 left)
        </a> 
      </div>
    </div>-->

    <Hero />
    <!--<Testimonials />
    <Features />

    <div class="my-16">
      <div class="flex items-center justify-center w-full">
        <img src="/images/github.svg" />
        <p class="ml-2">Last commit : 2 days ago<br/></p> 
    </div>

    <div class="flex items-center justify-center w-full">
      <p class="ml-2">Up to date: Kotlin 1.9.22, Compose multiplatform 1.6.0</p> 
    </div>
  </div>
 
    <Video />

    <!--<Logos />-->

    <!--
  <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl text-center mx-auto my-24">And you just have the basics for just one platform.</h2>
  <img src="/images/7n58fn.jpg" alt="Image" class="h-48 mx-auto rounded-2xl">
 -->

    <h2
      class="text-3xl lg:text-4xl font-bold lg:tracking-tight text-center my-24">
      How It Works
    </h2>

    <div
      class="flex flex-col justify-center items-center md:flex-row md:justify-start md:items-start">
      <div
        class="max-w-sm w-full bg-white shadow-lg rounded-lg overflow-hidden mx-2 mb-4 md:mb-0">
        <div class="px-6 py-4">
          <h2 class="text-xl font-bold text-gray-800">Download</h2>
          <p class="mt-2 text-gray-600">
            After purchasing you receive a github invite link. Download the full
            codebase.
          </p>
        </div>
      </div>

      <div
        class="max-w-sm w-full bg-white shadow-lg rounded-lg overflow-hidden mx-2 mb-4 md:mb-0">
        <div class="px-6 py-4">
          <h2 class="text-xl font-bold text-gray-800">Setup</h2>
          <p class="mt-2 text-gray-600">
            Setup in minutes your environment following the instructions <a
              href="https://appkickstarter.com/documentation/getting-started"
              class="underline">here</a
            >.
          </p>
        </div>
      </div>

      <div
        class="max-w-sm w-full bg-white shadow-lg rounded-lg overflow-hidden mx-2">
        <div class="px-6 py-4">
          <h2 class="text-xl font-bold text-gray-800">Build</h2>
          <p class="mt-2 text-gray-600">
            Start building your own features easily and get a head start with
            the right tools today.
          </p>
        </div>
      </div>
    </div>

    <h2
      class="text-3xl lg:text-4xl font-bold lg:tracking-tight text-center my-24">
      Why Use a Mobile App Template?
    </h2>

    <p class="text-slate-700 prose mx-auto">
      As mobile dev, I've seen many businesses waste time and money building
      standard mobile app features. This Kotlin template helps developers
      focus on valuable features for their customers.

      <br /><br />
      For a fraction of the cost, you'll have a production-ready multiplatform app
      saving months of time and thousands of dollars.
      <img src="/images/signature.png" class="h-16" alt="Louis Duboscq AppKickstarter"/>
    </p>

    <h2
      class="text-3xl lg:text-4xl font-bold lg:tracking-tight text-center my-24">
      Why Use a Paid App Template Over Open Source?
    </h2>
    <div
      class="flex flex-col justify-center items-center md:flex-row md:justify-start md:items-start">
      
      <div
        class="max-w-sm w-full bg-white shadow-lg rounded-lg overflow-hidden mx-2 mb-4 md:mb-0">
        <div class="px-6 py-4">
          <h2 class="text-xl font-bold text-gray-800">Leading template</h2>
          <p class="mt-2 text-gray-600">
            No other open source template provides this level of functionality,
            features and components for your mobile apps.
          </p>
        </div>
      </div>

      <div
        class="max-w-sm w-full bg-white shadow-lg rounded-lg overflow-hidden mx-2 mb-4 md:mb-0">
        <div class="px-6 py-4">
          <h2 class="text-xl font-bold text-gray-800">Reliable</h2>
          <p class="mt-2 text-gray-600">
            Bugs are fixed within 24 hours and new updates pushed weekly. No
            waiting around for the community to add features or fix issues.
          </p>
        </div>
      </div>

      <div
        class="max-w-sm w-full bg-white shadow-lg rounded-lg overflow-hidden mx-2">
        <div class="px-6 py-4">
          <h2 class="text-xl font-bold text-gray-800">Helpful</h2>
          <p class="mt-2 text-gray-600">
            Get help right away via email or Slack, no need to spend your
            valuable time on Stack Overflow searching for answers.
          </p>
        </div>
      </div>
    </div>
  
    <div
    class="flex flex-col justify-center items-center md:flex-row md:justify-start md:items-start mt-6">
    
    <div
      class="max-w-sm w-full bg-white shadow-lg rounded-lg overflow-hidden mx-2 mb-4 md:mb-0">
      <div class="px-6 py-4">
        <div class="flex items-center">
          <h2 class="text-xl font-bold text-gray-800">Lifetime access</h2>
          <span class="relative flex h-3 w-3 ml-2">
            <span
              class="animate-ping absolute inline-flex h-full w-full rounded-full bg-red-400 opacity-75"
            ></span>
            <span class="relative inline-flex rounded-full h-3 w-3 bg-red-500"
            ></span>
          </span>
        </div>
       
        <p class="mt-2 text-gray-600">
          Lifetime access and updates included with any purchase. Lifetime access was our initial offer. Soon all plans will change to free updates for 1 year.
        </p>
        
      </div>
    </div>

    <div
      class="max-w-sm w-full bg-white shadow-lg rounded-lg overflow-hidden mx-2 mb-4 md:mb-0">
      <div class="px-6 py-4">
        <h2 class="text-xl font-bold text-gray-800">Voting system</h2>
        <p class="mt-2 text-gray-600">
          Everyone in the mastermind has a voice in voting for features/improvements/libs on the roadmap.
        </p>
      </div>
    </div>

    <div
      class="max-w-sm w-full bg-white shadow-lg rounded-lg overflow-hidden mx-2">
      <div class="px-6 py-4">
        <h2 class="text-xl font-bold text-gray-800">Clean Architecture</h2>
        <p class="mt-2 text-gray-600"> 
          Our project architecture is Screaming and Flexible. Use Cases are clearly visible in the project’s structure and you are able to switch frameworks, database or server like pairs of gloves.
        </p>
      </div>
    </div>
  </div>

 
   <!--  <Testimonials2 />-->

  <h2 class="text-3xl lg:text-4xl font-bold lg:tracking-tight text-center my-24">Trusted by developers and companies</h2>
  <div class="famewall-embed" data-src="appkickstarter" data-format="grid" style="width:100%;"></div>
  <script type="text/javascript" src="https://embed.famewall.io/frame.js" defer></script>
    
  <div id="pricing" class="my-24">
    <h2 class="text-3xl lg:text-4xl font-bold lg:tracking-tight text-center ">
      Pricing 
    </h2>
    <!-- <p class="text-lg mt-4 text-slate-600 text-center ">
      150€ off for the first 100 (17 left)
    </p> 
     -->
  </div> 
  <div class="grid md:grid-cols-2 gap-5 mx-auto max-w-4xl">
    {pricing.map((item) => <Pricing plan={item} />)}
  </div>
 

  <h2 class="text-3xl lg:text-4xl font-bold lg:tracking-tight text-center my-24">Frequently Asked Questions</h2>
  
  <Faq id="faq" class="my-24"/> 

  <Cta />
    
    <!--
<a href="https://appkickstarter.lemonsqueezy.com/checkout/buy/699eed0e-fc4a-4784-b3e9-b30e9a979dd7" class="bg-black text-white text-center mx-auto  fixed bottom-0 py-8 px-8 my-24 rounded-3xl left-1/2 transform -translate-x-1/2">
  <div id="countdown"></div>  
</a>
 -->
  </Container>
</Layout>
