---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Footer from "@components/footer.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";
import Testimonials from '@components/testimonials.astro';
---

<Layout title="">
  <Container>
    <Hero />
    <!--<Logos />-->
    <Features />
		<Testimonials/>

<!--
<div  class="grid gap-16 max-w-4xl mx-auto md:gap-10 items-center mt-24" >
 <p class="text-center text-slate-500">Get started in 2 minutes</p> 
    <iframe class="items-center" width="560" height="315" src="https://www.youtube.com/embed/a56Jr2iT-2U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
   -->
    <Cta />
  </Container>
</Layout>
