---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";

const pricing = [
  {
    name: "Developer",
    idealFor: "Access to the template and be part of the community.",
    price: "$200",
    popular: true,
    features: [ 
      "Template",
      "Community",  
      "Exclusive opportunities"
    ],
    button: {
      text: "Get AppKickstarter",
      link: "https://appkickstarter.lemonsqueezy.com/checkout/buy/699eed0e-fc4a-4784-b3e9-b30e9a979dd7?checkout[discount_code]=A5MZA0NW",
    },
  },
  {
    name: "Ultimate Pro",
    idealFor: "Perfect if you're serious about taking your multiplatform app development skills to the next level.",
    price: "$350",/*{
      monthly: "$350",
      annual: "$16",
      discount: "10%",
      original: "$24",
    },*/
    popular: false,
    features: [
      "Developer plan",  
      "GP4 app codebase",
      "Audio app codebase",
      "Offline app codebase"
    ],
    button: {
      text: "Get AppKickstarter and showcases",
      link: "https://appkickstarter.lemonsqueezy.com/checkout/buy/699eed0e-fc4a-4784-b3e9-b30e9a979dd7?checkout[discount_code]=A5MZA0NW",
    },
  },
  {
    name: "On-Demand Support",
    idealFor: "Ask us for specific features in addition to AppKickstarter",
    price: "contact us",/*{
      monthly: "$350",
      annual: "$16",
      discount: "10%",
      original: "$24",
    },*/
    popular: false,
    features: [
      "On-Demand Support", 
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout 
  title="Pricing" 
  description="AppKickstarter pricing"
  image="/images/affiche_seo.png"
>
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Get lifetime access to our <strong>private Github team</strong> and join our <strong>Slack community</strong> for support.<br> 
        Pay once and receive <strong>unlimited updates</strong> to <strong>build as many apps as you want</strong>.
      </Fragment>
    </Sectionhead> 

    <div class="flex items-center justify-center my-12">
      <div class="bg-gray-300 text-slate-900 font-bold px-4 py-2 rounded-full">
        🎁 End of 2023 sale (-50%)
      </div>
    </div>
    
    <div class="grid md:grid-cols-3 gap-5 mx-auto max-w-4xl">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
  </Container>
</Layout>
