---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";

const pricing = [
  {
    name: "Developer",
    idealFor: "Access to the complete repository and get regular updates.",
    price: "$149",
    popular: true,
    features: [ 
      "UI Kit",
      "Onboarding",
      "Authentication",
      "Data storage",
      "Navigation",
      "Paywall",  
    ],
    button: {
      text: "Get Started",
      link: "https://appkickstarter.lemonsqueezy.com/checkout/buy/699eed0e-fc4a-4784-b3e9-b30e9a979dd7",
    },
  },
  {
    name: "Ultimate Pro",
    idealFor: "Perfect if you're serious about taking your app development skills to the next level.",
    price: "$349",/*{
      monthly: "$349",
      annual: "$16",
      discount: "10%",
      original: "$24",
    },*/
    popular: false,
    features: [
      "Developer plan +", 
      "AMA discord access",
      "Our apps source code" 
    ],
    button: {
      text: "Get Started",
      link: "https://appkickstarter.lemonsqueezy.com/checkout/buy/699eed0e-fc4a-4784-b3e9-b30e9a979dd7",
    },
  },
  {
    name: "On-Demand Support",
    idealFor: "Ask us for specific features in addition to AppKickstarter",
    price: "contact us",/*{
      monthly: "$349",
      annual: "$16",
      discount: "10%",
      original: "$24",
    },*/
    popular: false,
    features: [
      "On-Demand Support", 
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">Get lifetime access to our private Github team and join our Discord community for support. You'll also have access to additional resources to improve your skills. Pay once and receive unlimited updates to build as many apps as you want.</Fragment>
    </Sectionhead> 
    <div class="grid md:grid-cols-3 gap-5 mx-auto max-w-4xl mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
  </Container>
</Layout>
