---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";

const pricing = [
  {
    name: "Developer",
    idealFor: "Get the code and start building on your own",
    price: "$149",
    popular: true,
    features: [
      "Access to the repository",
      "Jetpack Compose UI Kit",
      "Onboarding",
      "Auth screens",
      "Paywall",
      "Data storage", 
      "Lifetime access",
      "Unlimited apps", 
      "Unlimited updates",
    ],
    button: {
      text: "Get Started",
      link: "https://appkickstarter.lemonsqueezy.com/checkout?cart=b87bdef1-cad7-4ffe-b89b-8bd20ab5ff0c",
    },
  },
  {
    name: "Developer Pro",
    idealFor: "Get the code and access to the Pro discord",
    price: "$349",/*{
      monthly: "$349",
      annual: "$16",
      discount: "10%",
      original: "$24",
    },*/
    popular: false,
    features: [
      "Developer plan +",
      "Access to Pro discord", 
    ],
    button: {
      text: "Get Started",
      link: "https://appkickstarter.lemonsqueezy.com/checkout?cart=b87bdef1-cad7-4ffe-b89b-8bd20ab5ff0c",
    },
  },
  {
    name: "On-Demand Support",
    idealFor: "Ask us for specific features in addition to AppKickstarter",
    price: "contact us",/*{
      monthly: "$349",
      annual: "$16",
      discount: "10%",
      original: "$24",
    },*/
    popular: false,
    features: [
      "On-Demand Support", 
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">Lifetime access to the private Github team for updates, access to Discord for help and support for building your app.</Fragment>
    </Sectionhead> 
    <div class="grid md:grid-cols-3 gap-5 mx-auto max-w-4xl mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
  </Container>
</Layout>
