---
import Link from "./ui/link.astro";
---

<div
  class="bg-black p-8 md:px-20 md:py-20 my-24 mx-auto rounded-lg flex flex-col items-center text-center relative isolate  overflow-hidden ">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Build apps, faster.
  </h2>
  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    Ready to launch your app? Do it in days, not months.
  </p>
  <div class="flex mt-5">
    <Link href="https://appkickstarter.lemonsqueezy.com/checkout/buy/699eed0e-fc4a-4784-b3e9-b30e9a979dd7" style="inverted">Start Building Today</Link>
  </div>




  <div
  class="absolute left-1/2 top-0 -z-10 -translate-x-1/2 -translate-y-1/2  xl:-top-6 blur-3xl "
  aria-hidden="true">
  <div
    class="aspect-[1155/678] w-[72.1875rem] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-70"
    style="clip-path: polygon(0% 100%, 30% 100%, 50% 50%, 70% 100%, 100% 100%, 70% 70%, 50% 50%, 30% 70%);">
  </div>
</div>
</div>
