<h2 class="text-3xl font-bold lg:text-4xl lg:tracking-tight mt-24 mb-8 text-center">
    Building an iOS/Android app from scratch take a significant amount of time and money.
  </h2>

  <p class="text-slate-600 text-center mb-24"> 
    Look at this estimate for the foundations of a new app
  </p>

  
  <div class="bg-white rounded-lg shadow-lg">
    <table class="min-w-full">
      <thead>
        <tr>
          <th class="py-4 px-6 bg-white font-semibold text-left text-slate-900">Name</th>
          <th class="py-4 px-6 bg-white font-semibold text-left text-slate-900">Number of Days</th>
          <th class="py-4 px-6 bg-white font-semibold text-left text-slate-900">Cost for 1 platform</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="py-4 px-6 border-b border-gray-200 text-slate-900">Authentication with Firebase</td>
          <td class="py-4 px-6 border-b border-gray-200 text-slate-500">3 to 6 days</td>
          <td class="py-4 px-6 border-b border-gray-200 text-slate-500">$1500 - $3600</td>
        </tr>
        <tr>
          <td class="py-4 px-6 border-b border-gray-200 text-slate-900">Onboarding screens</td>
          <td class="py-4 px-6 border-b border-gray-200 text-slate-500">2 to 4 days</td>
          <td class="py-4 px-6 border-b border-gray-200 text-slate text-slate-500">$500 - $2400</td>
        </tr>
        <tr>
          <td class="py-4 px-6 border-b border-gray-200 text-slate-900">Local SQLite database setup</td>
          <td class="py-4 px-6 border-b border-gray-200 text-slate-500">1 to 2 days</td>
          <td class="py-4 px-6 border-b border-gray-200 text-slate-500">$500 - $1200</td>
        </tr>
        <tr>
          <td class="py-4 px-6 border-b border-gray-200 text-slate-900">Integrating key libraries</td>
          <td class="py-4 px-6 border-b border-gray-200 text-slate-500">1 to 3 days</td>
          <td class="py-4 px-6 border-b border-gray-200 text-slate-500">$500 - $1800</td>
        </tr>
        <tr>
          <td class="py-4 px-6 border-b border-gray-200 text-slate-900">Navigation flow</td>
          <td class="py-4 px-6 border-b border-gray-200 text-slate-500">2 to 4 days</td>
          <td class="py-4 px-6 border-b border-gray-200 text-slate-500">$1000 - $2400</td>
        </tr>
        <tr>
          <td class="py-4 px-6 border-b border-gray-200 text-slate-590000">Settings screen</td>
          <td class="py-4 px-6 border-b border-gray-200 text-slate-500">2 to 4 days</td>
          <td class="py-4 px-6 border-b border-gray-200 text-slate-500">$1000 - $2400</td>
        </tr>
        <tr>
          <td class="py-4 px-6 border-b border-gray-200 text-slate-900">Paywall screen</td>
          <td class="py-4 px-6 border-b border-gray-200 text-slate-500">3 to 5 days</td>
          <td class="py-4 px-6 border-b border-gray-200 text-slate-500">$1500 - $3000</td>
        </tr>
      </tbody> 
      <tfoot>
        <tr>
          <td class="py-4 px-6 bg-white font-bold text-left text-slate-900">Total</td>
          <td class="py-4 px-6 bg-white font-bold text-left text-slate-900">12 to 28 days</td>
          <td class="py-4 px-6 bg-white font-bold text-left text-slate-900">$6,000 - $15,000</td>
        </tr>
      </tfoot>
</table>
</div>