---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
{
    title: "What is included?",
    description:
      "A Kotlin multiplatform and Compose multiplatform boilerplate with all the features above. It will constantly be updated.",
      destination: "https://docs.appkickstarter.com",
  }, 
  {
    title: "Can I get a refund?",
    description:
      "Within 3 days of purchase, if you aren't satisfied with the kit, reach out and you'll get a full refund. No questions asked. Reach out on Twitter or by email at hey@appkickstarter.com",
      destination: ""
  }, 
  {
    title: "Is there any documentation?", 
    description: "Yes, we provide a complete documentation to help you get started.", 
    destination: "https://docs.appkickstarter.com",
  }, 
  {
    title: "Can I use my own backend?", 
    description: "Yes and we wrote about it to make the task easy for you.", 
    destination: "https://docs.appkickstarter.com/tech-things/backend-as-an-implementation-detail",
  },
  {
    title: "What level of experience is needed for this kit?", 
    description: "None! You can get value out of the kit if you're a total beginner making your first app or a seasoned pro who wants to save time. It is recommended, however, that you have a bit of knowledge in Flutter. Also there is tons of documentation to help you get started.", 
    destination: "",
  }, 
];
--- 

<div class="grid gap-16 max-w-4xl mx-auto md:gap-10 items-center">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p> 
          {item.destination ?  <a href={item.destination}>See more</a> : <div />}
        </div>
      </div>
    ))
  }
</div>
