---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
{
    title: "What does `lifetime access' mean exactly?",
    description:
      "AppKickstarter is a one-time purchase, with no recurring subscription. When you purchase, you have access to all of the content in that product forever.",
      destination: "",
  }, 
  {
    title: "What does `free updates' include?",
    description:
      "When you purchase AppKickstarter, any improvements we make or new content we add to that product will always be free for anyone who owns that product.",
      destination: "",
  }, 
  {
    title: "Do you offer technical support?",
    description:
      "We offer email support on the developer plan for all the questions related to the starter kit and how you can extend it. In the ultimate pro plan you have access to a discord server which means our support is in real time. And if you want that we build your features on top of AppKickstarter, it's also possible via our On-Demand Support. If you are interested in our On-Demand Support, please check out the case studies to see what's possible and please contact us.",
      destination: "",
  }, 
  {
    title: "What's included in the price?",
    description:
      "AppKickstarter is a one-time-purchase that gives you lifetime acces to the private GitHub with the template. This repository is designed to help you quickly and easily bring your ideas to fruition. You also get free updates and support",
      destination: "",
  }, 
  {
    title: "Why choose KMM instead of Flutter, React native or another crossplatform framework?",
    description: "Unlike other technologies that abstract or replace platform-specific app development, Kotlin Multiplatform is compatible with existing platform-specific technologies and is meant to replace platform-agnostic business logic. It's the tool to add to your toolbox rather than a replacement for it. And for these reasons it is a future proof choice.",
    destination: "",
  }, 
  {
    title: "Can I open-source a project built using AppKickstarter?", 
    description: "No, this is not allowed.", 
    destination: "",
  },
  {
    title: "Who is this boilerplate for?",
    description: "Whether you're new to Kotlin Multiplatform mobile (KMM) technology and want to learn about it and modern architecture, or you're an experienced developer looking to quickly bring your ideas to life, this repository is for you. If you don't know how to code this is not for you.",
    destination: "",
  },  
  {
    title: "Is it necessary to be an expert to use AppKickstarter?", 
    description: "You don't necessarily have to be an expert, but it is important to have a basic understanding of coding and be familiar with either Android or iOS. While Kotlin, KMM, Compose, or SwiftUI can be learned gradually, it is recommended to have a fundamental knowledge of basic Kotlin and how UI is built with a declarative framework such as Compose or SwiftUI to effectively use this template. If you need any help or clarifications, we provide support to each other through our Discord chat.",
    destination: "",
  },  
  {
    title: "What is the stack used?",
    description: "Jetpack Compose, Compose multiplatform and SwiftUI for the UI. You can choose Firebase, Supabase or Ktor for the backend. All the others used libraries are in this link.",
    destination: "/stack",
  }, 
  {
    title: "How many projects can I use it for?",
    description: "As many as you want.",
    destination: "",
    
  },    
  {
    title: "What is the process for updating my project with the latest changes?",
    description: "To update your project with the latest changes, you can add the upstream repository as a remote and then pull the changes from it. This is similar to the process of collaborating with your teammates. Think of us as teammates who are working on the project's core while you are building your application.",
    destination: "",
  }, 
  {
    title: "Can I get a refund?",
    description: "Due to the non-returnable nature of this product, we do not offer refunds. However, if you are unsure about the product, you can ask us any questions you may have, including coding snippets, a demo of the product, or a live walkthrough of the codebase. Simply send a message and we'll have a chat.",
    destination: "/contact",
  }, 
   
  {
    title: "What is the duration of time during which I can receive updates?",
    description: "It's a lifetime access.",
    destination: "",
  },  
  {
    title: "If I am a student or live in a low-income country, are there any discounts available for me?",
    description: "Yes, we have discounts for you. Please contact and you'll receive a discount. Please include your country and currency, and any other relevant information that can help us understand your situation.",
    destination: "/contact",
  }, 
  {
    title: "I see you support in paywall subscriptions and lifetime deal, what about consumable in-app-purchases?",
    description: "As our paywall is built on top of Revenue Cat and consumable in-app-purchases are not very well integrated, we made the choice to not support it.",
    destination: "",
  }, 

];
--- 

<div class="grid gap-16 max-w-4xl mx-auto md:gap-10 items-center">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p> 
          {item.destination ?  <a href={item.destination}>See more</a> : <div />}
        </div>
      </div>
    ))
  }
</div>
