---
  // @ts-ignore
  import { Icon } from "astro-icon";

  const features = [

  {
      title: "Native look and feel",
      description: "Write a single codebase that renders differently across platforms, maintaining each platform's native look and feel",
      icon: "bx:bxs-devices",
      destination: "/",
    },
    {
      title: "Authentication",
      description: "Speed up development with a pre-built authentication solution that handles user registration, login and all common authentication workflows",
      icon: "bx:bxs-log-in-circle",
      destination: "/documentation/authentication",
    },
    { 
      title: "Payments",
      description: "Monetize your app instantly with our pre-built paywalls connected to work with RevenueCat for seamless subscription management",
      icon: "bx:bxs-dollar-circle",
      destination: "/documentation/subscriptions",
    },
    {
      title: "Multiplatform UI Kit",
      description: "Save time and effort with our collection of beautiful, ready-made high level UI components to build visually stunning app interfaces in minutes",
      icon: "bx:bxs-brush",
      destination: "/documentation/uikit",
    },
    {
      title: "Firebase setup",
      description: "Connect your app to Firebase in minutes to enable features like authentication, storage and more - speeding up development and reducing costs",
      icon: "bx:bxs-album",
      destination: "/documentation/firebase-support",
    },
    {
      title: "Onboarding",
      description: "Make people curious, excited and anxious to use your app. Creates an emotional connection and urgency and sets the stage for a great user experience to come",
      icon: "bx:bxs-bulb",
      destination: "/documentation/onboarding",
    }, 
    
    {
      title: "Secure API Keys",
      description: "Store API keys in a .properties file accessed via a multiplatform build configuration for a secure codebase",
      icon: "bx:bxs-key",
      destination: "/",
    }, 
    {
      title: "Simple Library Management",
      description: "Define all libraries, versions and plugins in one TOML file to reuse across multiplatform projects",
      icon: "bx:bxs-bulb",
      destination: "/",
    }, 
   /* {
      title: "Home screen",
      description:
        "Modern and minimist home screen designed to be intuitive and easy to navigate, with clear and concise labels and navigation elements.",
      icon: "bx:bxs-home",
      destination: "/features/home",
    },*/
   /* {
      title: "Settings",
      description:
        "Allows your users to customize and manage various aspects of their experience within your app including account datas, notifications, language and theme.",
      icon: "bx:bxs-category",
      destination: "/features/settings",
    },*/
   /*{
      title: "Offline management",
      description:
        "Offer a smooth user experience within your app with ready to use key-value offline storage and offline database.",
      icon: "bx:bxs-like",
      destination: "/features/offline",
    },*/
  /*  {
      title: "Multiplatform resources",
      description: "Define once your translations for multiple platforms.",
      icon: "bx:bxs-like",
      destination: "/features/resources",
    },*/ 
  ];
---

<div class="mt-24">
  <div class="my-24">
    <h2 class="text-3xl lg:text-4xl font-bold lg:tracking-tight text-center ">
      Features 
    </h2>
     <p class="text-lg mt-4 text-slate-600 text-center ">
      Save months of effort + $15k today by not writing these 10,000+ lines of code
    </p> 
  </div> 
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
  features.map((item) => (
  <div class="flex gap-4 items-start">
    <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
      <Icon class="text-white" name={item.icon} />
    </div>
    <div>
      <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
      <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
      <!--<a href={item.destination}>See more</a>-->
    </div>
  </div>
  ))
  }
</div>