---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Onboard your users",
    description:
      "Help your users understand how your app works and encourage them to continue using it.",
    icon: "bx:bxs-album",
    destination: "/features/onboarding",
  },
  {
    title: "Authentication",
    description:
      "Flexible authentication options, including email/password, SMS/OTP, and third-party services",
    icon: "bx:bxs-log-in-circle",
    destination: "/features/authentication",
  },
  {
    title: "Paywall",
    description:
      "Make revenue with flexible subscription plans, including ongoing monthly and yearly options and one-time lifetime deals",
    icon: "bx:bxs-dollar-circle",
    destination: "/features/paywall",
  },
  {
    title: "Home screen",
    description:
      "Modern and minimist home screen designed to be intuitive and easy to navigate, with clear and concise labels and navigation elements.",
    icon: "bx:bxs-home",
    destination: "/features/home",
  },
  {
    title: "Settings",
    description:
      "Allows your users to customize and manage various aspects of their experience within your app including account datas, notifications, language and theme",
    icon: "bx:bxs-like",
    destination: "/features/settings",
  },
  {
    title: "Offline management",
    description:
      "Offer a smooth user experience within your app with effective data management techniques such as caching, fetching, and synchronization.",
    icon: "bx:bxs-like",
    destination: "/features/offline",
  },
  {
    title: "Multiplatform UI Kit",
    description:
      "Collection of clean and simple interface components that you can use to create visually appealing and intuitive app interfaces.",
    icon: "bx:bxs-like",
    destination: "/features/uikit",
  },
  {
    title: "Multiplatform resources",
    description: "Define once your translations for multiple platforms",
    icon: "bx:bxs-like",
    destination: "/features/resources",
  },



  
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to start an app
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    AppKickstarter takes the best parts of state-of-the-art tools and adds its own opinions.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
          <a href={item.destination}>See more</a>
        </div>
      </div>
    ))
  }
</div>
