<footer class="my-20  ">

  <div class="container mx-auto px-4 py-8">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4 justify-items-center">
      <div class="text-slate-900">
        <h3 class="text-lg font-semibold mb-4">Products</h3>
        <ul>
          <li><a href="#" class="text-gray-600 hover:text-slate-900">AppKickstarter</a></li>
          <li><a href="https://github.com/AppKickstarter/KMPStarterOS" target="_blank" class="text-gray-600 hover:text-slate-900">KMPStarterOS</a></li>
        </ul>
      </div>
      <div class="text-slate-900">
        <h3 class="text-lg font-semibold mb-4">Resources</h3>
        <ul>
          <li><a href="/documentation/getting-started" class="text-gray-600 hover:text-slate-900">Documentation</a></li>
          <li><a href="/faq" class="text-gray-600 hover:text-slate-900">FAQ</a></li>
          <li><a href="/blog" class="text-gray-600 hover:text-slate-900">Blog</a></li>
        </ul>
      </div>
      <div class="text-slate-900">
        <h3 class="text-lg font-semibold mb-4">Legal</h3>
        <ul>
          <li><a href="/appkickstarterlicense" class="text-gray-600 hover:text-slate-900">License</a></li>
          <li><a href="#" class="text-gray-600 hover:text-slate-900">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="text-slate-900">
        <h3 class="text-lg font-semibold mb-4">Connect</h3>
        <ul>
          <li><a href="/contact" class="text-gray-600 hover:text-slate-900" target="_blank" >Email</a></li>
          <li><a href="https://twitter.com/louisduboscq" class="text-gray-600 hover:text-slate-900" target="_blank" >Twitter</a></li>
          <li><a href="https://www.linkedin.com/in/louis-duboscq/" class="text-gray-600 hover:text-slate-900" target="_blank" >Linkedin</a></li>
          <li><a href="https://www.youtube.com/watch?v=NBAcyfkN-mA&t" class="text-gray-600 hover:text-slate-900" target="_blank" >Youtube</a></li>
        </ul>
      </div>
    </div>
  </div>
  <p class="text-center text-sm text-slate-500">
    Copyright Â© {new Date().getFullYear()} AppKickstarter. All rights reserved.
  </p>
  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-xs text-slate-500 mt-1">
    Made by <a
      href="https://bento.me/louisduboscq"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Louis Duboscq
    </a>
  </p>
</footer>

 