---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/being-creative.svg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
import BasicButton from "./basic-button.astro";
import BorderButton from "./border-button.astro";
---

<main class="">
  <div>
    <div
      class="w-fit pt-20 pb-10 text-6xl font-bold mx-auto">
      <h1 class="text-4xl lg:text-5xl xl:text-4xl lg:tracking-tight xl:tracking-tighter text-center text-slate-800">
        The Kotlin and Compose Multiplatform App Boilerplate to<br>

        <span class="xl:text-5xl  bg-gradient-to-r from-purple-500 via-pink-500 to-red-500 bg-clip-text text-transparent">
          Launch Android and iOS Apps at Lightning Speed
        </span>

        
      </h1>
    </div>

    <p
      class="text-center text-slate-900">
      Build unlimited apps with AppKickstarter.<br />
      Save months of work and focus on building a profitable business.<br />
      Get lifetime access for only $149.
    </p>

    <div
      class="mt-6 flex flex-col sm:flex-row gap-3 lg:justify-center lg:items-center sm:justify-center sm:items-center">
      
      <BorderButton class="flex gap-1 items-center justify-center font-bold" text="Book a 15 min video call" url="https://calendly.com/duboscq-louis/15min"/>
       
       <BasicButton class="flex gap-1 items-center justify-center font-bold" text="BUY NOW" url="https://appkickstarter.lemonsqueezy.com/checkout/buy/699eed0e-fc4a-4784-b3e9-b30e9a979dd7"/>
       
    </div>
  </div>
</main> 

<div class="flex justify-center my-24">
  <div class="w-96 mx-auto">
    <img
      src="/images/PopFrame1.jpg"
      alt="coding dev illustration"
      class="transform origin-center transition-transform duration-300 hover:skew-y-2"
    />
  </div>

  <div class="w-96 mx-auto">
    <img
      src="/images/PopFrame2.jpg"
      alt="coding dev illustration"
      class="transform origin-center transition-transform duration-300 hover:skew-y-2"
    />
  </div>

  <div class="w-96 mx-auto">
    <img
      src="/images/PopFrame3.jpg"
      alt="coding dev illustration"
      class="transform origin-center transition-transform duration-300 hover:skew-y-2"
    />
  </div>

  <div class="w-96 mx-auto">
    <img
      src="/images/PopFrame4.jpg"
      alt="coding dev illustration"
      class="transform origin-center transition-transform duration-300 hover:skew-y-2"
    />
  </div>
</div>
