---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/being-creative.svg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
import BasicButton from "./basic-button.astro";
import BorderButton from "./border-button.astro";
---

<main class="">
  <div>
    <div
      class="w-fit mt-16 text-6xl font-bold mx-auto">
      <h1 class="text-4xl lg:text-5xl xl:text-4xl lg:tracking-tight xl:tracking-tighter text-center text-slate-800">
        <!--The Kotlin and Compose Multiplatform App Template to<br>-->

        <span class="text-6xl lg:text-7xl xl:text-7xl   bg-gradient-to-r from-slate-800 via-slate-900 to-slate-600 bg-clip-text text-transparent">
          Ship your mobile app in days, <br>not months
        </span> 
      </h1>
    </div>

    <p class="
    text-center text-slate-500 font-bold mt-8 mx-16
    flex max-w-xs flex-col space-y-1  font-normal sm:max-w-lg md:max-w-none
    text-base lg:text-2xl">
      The mobile app template thats allows early-stage products to focus on the product itself without worrying too much about details.
    </p>


    <div class="flex items-center justify-center my-4"> 
      <div class="bg-slate-200 text-slate-900 font-bold px-4 py-2 rounded-full">
        🎁 End of 2023 sale (-50%)
      </div>
    </div>

    <div
      class="mt-6 flex flex-col sm:flex-row gap-3 lg:justify-center lg:items-center sm:justify-center sm:items-center">
      
      <BorderButton 
        class="flex gap-1 items-center justify-center font-bold" 
        text="Try Demo (your app in minutes)" 
        url="https://play.google.com/store/apps/details?id=com.lduboscq.appkickstarter.android"
      />

      <BasicButton 
        class="flex gap-1 items-center justify-center font-bold" 
        text="Get AppKickstarter" 
        url="https://appkickstarter.lemonsqueezy.com/checkout/buy/699eed0e-fc4a-4784-b3e9-b30e9a979dd7?checkout[discount_code]=A5MZA0NW"
      />
 
    </div>
  </div> 
  
  <div class="flex justify-center my-16">


    <div class=" mx-auto z-0">
      <img
        src="/images/lplogin.jpg"
        alt="coding dev illustration"
        class="transform origin-center transition-transform duration-300 scale-90 hover:scale-105"
      />
    </div>
  
    <div class="  mx-auto z-10">
      <img
        src="/images/bottom-sheet-android.jpg"
        alt="coding dev illustration"
        class="transform origin-center transition-transform duration-300 scale-100  hover:scale-110"
      />
    </div>
  
    <div class="  mx-auto z-20">
      <img
        src="/images/bottom-sheet-ios.jpg"
        alt="coding dev illustration"
        class="transform origin-center transition-transform duration-300 scale-110 hover:scale-125"
      />
    </div>
    <div class=" mx-auto z-10">
      <img
        src="/images/lpstoryboard.jpg"
        alt="coding dev illustration"
        class="transform origin-center transition-transform duration-300 scale-100  hover:scale-110"
      />
    </div>
  
    <div class="  mx-auto z-0">
      <img
        src="/images/lpsettings.jpg"
        alt="coding dev illustration"
        class="transform origin-center transition-transform duration-300 scale-90 hover:scale-105"
      />
    </div>
  </div>  
</main> 