---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/being-creative.svg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center sm:pt-12 md:pt-12">
  <div class="py-6 md:order-2 sm:order-2 ">
    <img src="/images/hero_screen.png" alt="coding dev illustration"/>
  </div> 

  <div>
    <h1
      class="text-4xl lg:text-5xl xl:text-5xl font-bold lg:tracking-tight xl:tracking-tighter">
      Launch your app idea in 3 days
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      A starter project to help you build Android and iOS apps up to 10x faster using Kotlin Multiplatform. Includes essential features to validate your idea and launch your minimum viable product.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        target="_blank"
        href="https://appkickstarter.lemonsqueezy.com/checkout/buy/699eed0e-fc4a-4784-b3e9-b30e9a979dd7" 
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-rocket" />
        Get Lifetime Access Now
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="/documentation"
        class="flex gap-1 items-center justify-center" >
        <Icon class="text-black w-4 h-4" name="bx:bx-bookmark" />
        Read the docs
      </Link>
    </div>
  </div>
</main>
