---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/being-creative.svg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
import BasicButton from "./basic-button.astro";
import BorderButton from "./border-button.astro";
import TestimonialCard from "./testimonial-card.astro";
---

<main class="">
  <div> 
    <div
      class="w-fit mt-16 text-6xl font-bold mx-auto">
      <h1 class="text-4xl lg:text-5xl xl:text-4xl lg:tracking-tight xl:tracking-tighter  sm:text-left md:text-left text-slate-800 font-inter">
        <!--The Kotlin and Compose Multiplatform App Template to<br>-->

        <span class="text-6xl lg:text-7xl xl:text-7xl  bg-gradient-to-r from-slate-800 via-slate-900 to-slate-600 bg-clip-text text-transparent">
          Launch fast on stores and make a living with apps
        </span> 
      </h1>
    </div>

    <p class="text-slate-500 mt-8 flex flex-col space-y-1  font-normal sm:max-w-lg md:max-w-none text-base lg:text-2xl font-inter">
      The Kotlin multiplatform Android and iOS app template thats allows early-stage products to focus on the product itself without worrying too much about details.
    </p>
  

    <div
      class="mt-6 flex flex-col sm:flex-row gap-3 ">
      
      <BorderButton 
        class="flex gap-1 items-center justify-center font-bold" 
        text="Documentation" 
        url="https://docs.appkickstarter.com"
      />

      <BasicButton 
        class="flex gap-1 items-center justify-center font-bold" 
        text="Get AppKickstarter" 
        url="#pricing"
      />
 
    </div>
    

    <div class="famewall-avatar-embed" data-src="9c44aed0-be76-4efe-8235-a65b85f59cce" style="width:100%;"></div>
    <script type="text/javascript" src="https://embed.famewall.io/avatarFrame.js" defer></script>


  <div class="hidden md:block">
    <img
      src="/images/graph.png"
      alt="coding dev illustration"
      class="transform origin-center transition-transform duration-300 scale-90 hover:scale-105"
    />  
  </div>

  <div class="block md:hidden">
    <img
      src="/images/graph-mobile.png"
      alt="coding dev illustration"
      class="transform origin-center transition-transform duration-300 scale-90 hover:scale-105"
    /> 
  </div>
</main> 