---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/being-creative.svg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
import BasicButton from "./basic-button.astro";
import BorderButton from "./border-button.astro";
import TestimonialCard from "./testimonial-card.astro";
---

<main class="">
  <div> 
    <div
      class="w-fit mt-16 text-6xl font-bold mx-auto">
      <h1 class="text-4xl lg:text-5xl xl:text-4xl lg:tracking-tight xl:tracking-tighter  sm:text-left md:text-left text-slate-800 font-inter">
        <!--The Kotlin and Compose Multiplatform App Template to<br>-->
  
        <span class="text-4xl lg:text-5xl xl:text-5xl bg-gradient-to-r from-slate-800 via-slate-900 to-slate-600 bg-clip-text text-transparent">
          Master Kotlin Multiplatform & Compose Multiplatform Quickly: Best Practices with Our Efficient Template
        </span> 
      </h1>
    </div>

    <p class="text-slate-500 mt-8 flex flex-col space-y-1  font-normal sm:max-w-lg md:max-w-none text-base lg:text-2xl font-inter">
      Accelerate and learn with our Kotlin Multiplatform template: ship apps faster, focus on innovation, and master development best practices through pre-built features designed for Android and iOS
    </p>

    
  

    <div
      class="mt-8 flex flex-col sm:flex-row gap-3 ">
      
      <BorderButton 
        class="flex gap-1 items-center justify-center font-bold" 
        text="Documentation" 
        url="https://docs.appkickstarter.com"
      />

      <BasicButton 
        class="flex gap-1 items-center justify-center font-bold" 
        text="Get AppKickstarter" 
        url="#pricing"
      /> 
    </div> 
    
    <div class="text-slate-800 flex items-center justify-between p-2">
      <div class="flex items-center space-x-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
          <path d="M9.375 3a1.875 1.875 0 0 0 0 3.75h1.875v4.5H3.375A1.875 1.875 0 0 1 1.5 9.375v-.75c0-1.036.84-1.875 1.875-1.875h3.193A3.375 3.375 0 0 1 12 2.753a3.375 3.375 0 0 1 5.432 3.997h3.943c1.035 0 1.875.84 1.875 1.875v.75c0 1.036-.84 1.875-1.875 1.875H12.75v-4.5h1.875a1.875 1.875 0 1 0-1.875-1.875V6.75h-1.5V4.875C11.25 3.839 10.41 3 9.375 3ZM11.25 12.75H3v6.75a2.25 2.25 0 0 0 2.25 2.25h6v-9ZM12.75 12.75v9h6.75a2.25 2.25 0 0 0 2.25-2.25v-6.75h-9Z" />
        </svg>
        <span class="text-sm font-medium">
          -50% off for the next customers with code LAUNCH  (18 left)
        </span> 
      </div>  
    </div>
      
    <!--<div class="famewall-avatar-embed mt-8" data-src="9c44aed0-be76-4efe-8235-a65b85f59cce" style="width:100%;"></div>
    <script type="text/javascript" src="https://embed.famewall.io/avatarFrame.js" defer></script>
    -->



<div class="flex items-center mt-8">
  <svg class="w-4 h-4 text-yellow-300 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
      <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
  </svg>
  <svg class="w-4 h-4 text-yellow-300 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
      <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
  </svg>
  <svg class="w-4 h-4 text-yellow-300 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
      <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
  </svg>
  <svg class="w-4 h-4 text-yellow-300 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
      <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
  </svg>
  <svg class="w-4 h-4 text-yellow-300 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
      <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
  </svg>
  <p class="ms-1 text-sm font-medium text-gray-500 dark:text-gray-400">Join other KMP mobile app devs who build with AppKickstarter</p>
</div>





  <div class="hidden md:block">
    <img
      src="/images/graph.png"
      alt="coding dev illustration"
      class="transform origin-center transition-transform duration-300 scale-90 hover:scale-105"
    />  
  </div>

  <div class="block md:hidden">
    <img
      src="/images/graph-mobile.png"
      alt="coding dev illustration"
      class="transform origin-center transition-transform duration-300 scale-90 hover:scale-105"
    /> 
  </div>
</main> 