---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/being-creative.svg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="   ">

  <div>
    <div class="w-fit bg-gradient-to-l from-slate-900 to-slate-700 bg-clip-text pt-20 pb-10 text-6xl font-bold text-transparent">
      <h1
        class="text-4xl lg:text-5xl xl:text-5xl font-bold lg:tracking-tight xl:tracking-tighter text-center">
        The Kotlin and Compose multiplatform app template to launch Android and iOS apps at lightning speed
      </h1>
    </div>
    
  
    <p class="text-lg mt-4 text-slate-700 text-center "> 
      Build unlimited apps with AppKickstarter.<br>
      Save months of work and focus on building a profitable business.<br>
      Get lifetime access for only $149.
    </p>  

    <div class="mt-6 flex flex-col sm:flex-row gap-3 justify-center items-center">
    
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        target="_blank"
        href="https://github.com/AppKickstarter/KMPStarterOS"
        class="flex gap-1 items-center justify-center" >
        <Icon class="text-black w-4 h-4" name="bx:bx-bookmark" />
        Limited open source version
      </Link>
      <Link
      href="#"
      target="_blank"
      href="https://appkickstarter.lemonsqueezy.com/checkout/buy/699eed0e-fc4a-4784-b3e9-b30e9a979dd7" 
      class="flex gap-1 items-center justify-center font-bold"
      rel="noopener">
      <Icon class="text-white w-5 h-5" name="bx:bxs-rocket" />
      BUY NOW
    </Link>
  </div> 
  </div> 
</main>
 