---
export interface Props {
  name: string;
  size?: "sm" | "lg";
}
const { name, size = "sm" } = Astro.props;
---

<li
  class={`inline-block  ${
    size === "sm" ? "my-1 underline-offset-4" : "my-3 mx-1 underline-offset-8"
  }`}>
  <a
    href={`/tags/${name.toLowerCase()}`}
    class={`${size === "sm" ? "text-sm" : "text-lg"}  group`}>
    <div class="flex items-center justify-center">
      <span
        class="inline-flex items-center px-3 py-1 text-sm font-medium text-slate-700 bg-slate-200 rounded-full">
        {name.toLowerCase()}
      </span>
    </div>
  </a>
</li>
