<h2 class="text-3xl font-bold lg:text-4xl lg:tracking-tight my-24 text-center">
  Everything You Need To Build an App
</h2>

<video width="784" height="441" controls class="mx-auto rounded-3xl my-24">
  <source src="images/video.mp4" type="video/mp4" />
  Your browser does not support the video tag.
</video>
