---
import Layout from "./Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}
const { frontmatter } = Astro.props;
---

<Layout 
  title={frontmatter.title}
  description={frontmatter.description ? frontmatter.description : ""}
  image="/images/affiche_seo.png"
 > 
 <Container>
    <Sectionhead>
      <Fragment slot="title">{frontmatter.title}</Fragment>
      <Fragment slot="desc">{frontmatter.description}</Fragment>
    </Sectionhead>
    <section class="prose mt-10 prose-img:border-0 max-w-4xl mx-auto space-y-200"> 
      <slot />
    </section> 
  </Container>
</Layout>